#savings-calculator {
  padding: 10px;
}

#savings-calculator input[type="submit"] {
  margin-top: 15px;
}

#savings-calculator-results {
  margin-top: 15px;
}

#savings-calculator-results td,
#savings-calculator-results th {
  border: 1px solid lightgray;
  padding: 5px;
}

#savings-calculator-chart {
  margin-top: 15px;
}
